div.ingredient-group:nth-child(odd) {
    float: left;
    padding-right: 0;
}

div.ingredient-group:nth-child(even) {
    float: left;
    padding-right: 100px;
}

div.ingredient-group {
    width: 35%;
}

.grid:after {
    content: "";
    display: table;
    clear: both;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

span.validationError {
    color: red;
}

div.header {
    padding: 5px;
    text-align: right;
    color: white;
}

div.sala {
    align-content: center;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border: 2px dashed #f69c55;
}

img {
    vertical-align: middle;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

span.sala {
    vertical-align: central;
    horiz-align: right;
    line-height: normal;
}

table.home {
    padding: 20px;
    width: 500px;
    align-content: center;
    align-self: center;
}